## Session #1 Homework

> **Solution**: [homework-1.ipynb](homework-1.ipynb).

### Set up the environment

You need to install Python, NumPy, Pandas, Matplotlib and Seaborn. For that, you can the instructions from [06-environment.md](06-environment.md).

### Question 1

What's the version of NumPy that you installed? 

You can get the version information using the `__version__` field:

In [1]:
import numpy as np
np.__version__

'1.23.1'

### Question 2

What's the version of Pandas?

In [3]:
import pandas as pd
pd.__version__

'1.4.3'

### Getting the data 

For this homework, we'll use the same dataset as for the next session - the car price dataset.

Download it from [here](https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv).

You can do it with wget:

```bash
wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
```

Or just open it with your browser and click "Save as...".

Now read it with Pandas.

In [3]:
!wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

--2022-08-17 12:45:56--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1.4M) [text/plain]
Saving to: ‘data.csv’

data.csv            100%[===================>]   1.41M  86.5KB/s    in 15s

2022-08-17 12:46:12 (93.1 KB/s) - ‘data.csv’ saved [1475504/1475504]

In [5]:
cars = pd.read_csv('data.csv')
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

### Question 3

What's the average price of BMW cars in the dataset?

In [8]:
cars.loc[cars['Make'] == 'BMW', 'MSRP'].mean()

61546.76347305389

### Question 3 (2022)

Who are the most frequent car manufacturers (top-3) according to the dataset?

In [8]:
cars['Make'].value_counts()

Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
Alfa Romeo          5
McLaren             5
Spyker              3
Genesis             3
Bugatti             3
Name: Make, dtype: int64

### Question 4

Select a subset of cars after year 2015 (inclusive, i.e. 2015 and after). How many of them have missing values for Engine HP?

In [11]:
cars.loc[cars['Year'].ge(2015), 'Engine HP'].isna().sum()

51

### Question 4 (2022)
Number of unique Audi Car models

In [12]:
cars.loc[cars['Make'] == 'Audi', 'Model'].nunique()

34

### Question 5

* Calculate the average "Engine HP" in the dataset. 
* Use the `fillna` method and to fill the missing values in "Engine HP" with the mean value from the previous step. 
* Now, calcualte the average of "Engine HP" again.
* Has it changed? 

Round both means before answering this questions. You can use the `round` function for that:

```python
print(round(mean_hp_before))
print(round(mean_hp_after))
```

In [16]:
mean_hp = cars["Engine HP"].mean()
imputed_mean = cars["Engine HP"].fillna(mean_hp).mean()

print(round(mean_hp))
print(round(imputed_mean))

249
249

### Question 5 (2022)

Number of columns with missing values

In [18]:
cars.isna().any().sum()

5

### Question 6

* Select all the "Rolls-Royce" cars from the dataset.
* Select only columns "Engine HP", "Engine Cylinders", "highway MPG".
* Now drop all duplicated rows using `drop_duplicates` method (you should get a dataframe with 7 rows).
* Get the underlying NumPy array. Let's call it `X`.
* Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
* Invert `XTX`.
* What's the sum of all the elements of the result?

Hint: if the result is negative, re-read the task one more time

In [34]:
X = (cars.loc[cars['Make'] == 'Rolls-Royce', 
              ['Engine HP', 'Engine Cylinders', 'highway MPG']]
         .drop_duplicates()
         .values
    )

xtx = X.T.dot(X)
inverted = np.linalg.inv(xtx)
inverted.sum()

0.032212320677486195

### Question 6 (2022)

    1. Find the median value of "Engine Cylinders" column in the dataset.
    2. Next, calculate the most frequent value of the same "Engine Cylinders".
    3. Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
    4. Now, calculate the median value of "Engine Cylinders" once again.

Has it changed?

    Hint: refer to existing mode and median functions to complete the task.

    Yes
    No

In [24]:
median = cars['Engine Cylinders'].median()
mode = cars['Engine Cylinders'].mode()[0]

imputed_median = cars['Engine Cylinders'].fillna(mode).median()


print(median)
print(mode)
print(imputed_median)

6.0
4.0
6.0

### Questions 7 

* Create an array `y` with values `[1000, 1100, 900, 1200, 1000, 850, 1300]`.
* Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
* What's the value of the first element of `w`?.

> **Note**: You just implemented linear regression. We'll talk about it in the next lesson.

In [37]:
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])
w = inverted.dot(X.T).dot(y)
w

array([ 0.19989598, 31.02612262, 31.65378877])

### Question 7 (2022)

1. Select all the "Lotus" cars from the dataset.
2. Select only columns "Engine HP", "Engine Cylinders".
3. Now drop all duplicated rows using `drop_duplicates` method (you should get a dataframe with 9 rows).
4. Get the underlying NumPy array. Let's call it `X`.
5. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
6. Invert `XTX`.
7. Create an array `y` with values `[1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]`.
8. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
9. What's the value of the first element of `w`?

> **Note**: You just implemented linear regression. We'll talk about it in the next lesson.

- -0.0723
- 4.5949
- 31.6537
- 63.5643

In [31]:
X = (cars.loc[cars['Make'] == 'Lotus', 
              ['Engine HP', 'Engine Cylinders']]
         .drop_duplicates()
         .values
    )

xtx = X.T.dot(X)
inverted = np.linalg.inv(xtx)

inverted.dot(X.T).dot(y)

# y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]

array([  4.59494481, -63.56432501])